
.App {
  text-align: right;
  display: inline-block;
}
.Align {
  display: inline-block;
}
.inline{
  display: inline-block;
  text-align: left;
  padding: 0;
  margin: 0;
  
}
.grid-container {
  display: grid;
}
.item1 {
  grid-column-start: 1;
  grid-column-end: 3;
}
.grid-container {
  display: grid;
  gap: 10px 1px;
}

.grid-container {
  display: grid;
  grid-template-columns: auto auto auto auto;
  background-color: #F5F5F5;
  padding: 10px;
}
.grid-item {
  background-color: rgba(255, 255, 255, 0.8);
  border: 1px solid rgba(0, 0, 0, 0.8);
  padding: 20px;
  font-size: 30px;
  text-align: center;
}


.Button1:hover {
  opacity: .5;
}
.Button2:hover {
  opacity: .5;
}
.Foodgrid{
  color: #D2CACA;
}
.LoginButtons{
  display: inline-block;
  
}